<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<header th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img alt="logo" class="bi me-2" height="40" src="/images/logo.png" width="160"/>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarItems">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarItems">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/group/1" th:href="@{/group/Contoh}">Contoh</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/group/2" th:href="@{/group/K1}">K1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/group/3" th:href="@{/group/K2}">K2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/group/4" th:href="@{/group/K3}">K3</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
</body>
</html>
